.postSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 870px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 50px 50px #fff;
}

.postWrapper {
    position: relative;
    margin: 20px 0;
    width: 400px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    background-image: url("../public/postbg.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 100;
}

.date {
    margin-top: 70%;
    padding: 2px 10px 1px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.63);
}

.postWrapper h3 {
    display: block;
    padding: 10px;
}

.blurb {
    display: block;
    padding: 0 10px;
}

.postWrapper a {
    display: block;
    padding: 10px;
    color: rgb(185, 29, 29);
    font-size: 0.8em;
    font-weight: bolder;
}

.postWrapper a:hover {
    color: rgb(77, 11, 11);
}

@media only screen and (max-width: 435px) {
    .postWrapper {
        width: 85%;
        height: auto;
    }
}
