.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(29, 29, 29);
    z-index: 2;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 40%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 40%;
}

.logo {
    display: flex;
}

.hamburger {
    display: none;
    padding: 0;
    background-color: rgb(29, 29, 29);
    border: none;
}

.bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    /*border-radius: 5px;*/
}

.navmenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
}

.navitem:last-child {
    position: absolute;
    right: 10px;
}

.navlink {
    margin: 0 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.navlink:hover {
    color: #777;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
    }

    .navmenu {
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        background-color: rgba(29, 29, 29, 0.95);
        transition: all 0.3s ease-in-out;
    }

    .navmenu.active {
        right: 0;
    }

    .navitem {
        margin: 10px 5px;
    }

    .navitem:last-child {
        position: static;
    }

    .navlink {
        font-size: 1.5rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        transform: translateX(-50px);
        background-color: transparent;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }
}

@media only screen and (max-width: 425px) {
    .navmenu {
        align-items: center;
    }
}
